 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 ">
                    <p class="">Graduated with a Finance degree and began working in the financial services industry. Although I would say I was good at my job, I wasn't I was happy. I saw software development as a more engaging and rewarding career (personal worthwise). I decided I had to take a leap to get this career going. I chose Coding Dojo as my coding bootcamp and have never looked back since.</p>
                </div>
                <div class="col-lg-6">
                    <p>Strives to be better everyday by continuosly improving my craft. Never stopping because someone is always better. Always brings a lot of heart and a CAN DO attidude no matter how tough the situation is.  Happiness happens when someone acknowledges my work and the passion I have for what I do. Currently addicted to listening to Kygo. Strongest languages are Javascript and Ruby.   </p>
                </div>
                <div class="col-lg-6 col-lg-offset-3 text-center btn-group-lg  btn-group">
                    <a href="https://github.com/zenners" class="col-lg-6 btn btn-lg  btn-outline">
                        <i class="fa fa-download fa-github"></i> GitHub
                    </a>
                     <a href="img/Michael_Cu_Resume.pdf" class="col-lg-6 btn btn-lg  btn-outline">
                        <i class="fa fa-file-pdf-o"></i> Resume
                    </a>
                </div>

            </div>
        </div>
    </section>