 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>
                                <strong> <a href={{ post.repo }}> {{post.title}}</a></strong>
                            </h2>
                            <hr class="star-primary">
                           
                            <p>{{ post.description }}</p>
                            <h2>Thoughts</h2>
                            <p>{{ post.thoughts}}</p>
                            <h2>Challenges</h2>
                            <p>{{ post.challenges}}</p>
                            <h2>Todo</h2>
                            <ul>
                                {{post.roadmap}}
                            </ul>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="#" >{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="#">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="#">{{ post.category }}</a>
                                    </strong>
                                </li>
                                <li>Source Code:
                                    <strong><a href={{ post.repo2 }}> GitHub Repo</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}